/*  */

/* .colour-palette {
  color: #203f19;
  color: #315317;
  color: #d2d7d2;
  color: #778e6b;
  color: #96a77c;
  color: #9ead9b;
  color: #8f9c94;
  color: #5f6c5c;
} */

* {
  font-family: 'Lato', sans-serif;
  max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  color: #203f19;
}

a {
  color: #315317;
}

::selection {
  background: #3f5c28;
  color: #fff;
}

p {
  text-align: justify;
}

.btn {
  background-color: #315317;
  border: none;
  border-radius: 0;
  margin: 1em 0 1em 0;
  color: #ffffff;
  outline: none;
  position: relative;
}
.btn:before,
.btn:after {
  border: 0 solid transparent;
  transition: all 0.25s;
  content: '';
  height: 24px;
  position: absolute;
  width: 24px;
}
.btn:before {
  border-top: 2px solid #315317;
  left: 0px;
  top: -5px;
}
.btn:after {
  border-bottom: 2px solid #315317;
  bottom: -5px;
  right: 0px;
}
.btn:hover {
  background-color: #315317;
}
.btn:hover:before,
.btn:hover:after {
  height: 100%;
  width: 100%;
}

/* NavBar */

#navbar {
  border-bottom: 0 !important;
}

/* Footer */

#footer {
  background-color: #c4cac6;
}

@media (max-width: 767.98px) {
  #footer-share + select {
    max-width: 30vw;
  }
}

@media (min-width: 768px) {
  #footer-copyright,
  #footer-nav {
    margin-bottom: 0;
  }

  #footer-share + select {
    max-width: 10vw;
  }
}

footer {
  background-color: #ddd;
  padding-bottom: 1.2em;
}

footer.container {
  padding-top: 2em;
}

#nav-logo {
  height: 2em;
  max-width: 50vw;
}

nav {
  font-size: 14px;
}
@media (min-width: 768px) {
  nav {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  footer > .container > .row > .col-md-6:first-child {
    text-align: left;
  }
  footer > .container > .row > .col-md-6:not(:first-child) {
    text-align: right;
  }
}

@media (max-width: 767.98px) {
  footer > .container > .row > .col-md-6 {
    text-align: center;
  }
  #footer-logo {
    width: 45vw;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #footer-logo {
    width: 20vw;
  }
}

@media (min-width: 992px) {
  #footer-logo {
    width: 15vw;
  }
}

#footer-share {
  list-style-type: disc;
  padding: 0;
}

footer #footer-nav li:first-child {
  border-left: none;
  padding-left: 0;
}

footer #footer-nav li {
  display: inline-block;
  list-style-type: none;
  line-height: 1;
  border-left: solid 1px white;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
