app-home, app-selection, table {
  max-width: 100vw;
}

h1,
h2,
h3 {
  font-family: "Lato", "sans-serif";
  font-weight: 500;
}

p,
tr,
th,
td {
  font-family: "Noto Sans", "sans-serif";
  font-size: 17px;
  color: #333333;
}

select {
  margin-left: 5px;
  padding: 5px;
}

.race-number-needed {
  font-weight: bold;
}

.select-candidate-btn {
  width: 80px;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ff3c43;
}


p {
  text-align: justify;
}

/*
color: #ffffff; // white text for dark background block
border-bottom: 1px solid #af3c43; // red underline for dark background block

background-color: #355688; // promo banner
background-color: #444; // hovered menu item
*/
