/*  */

/* .colour-palette {
  color: #203f19;
  color: #315317;
  color: #d2d7d2;
  color: #778e6b;
  color: #96a77c;
  color: #9ead9b;
  color: #8f9c94;
  color: #5f6c5c;
} */

* {
  font-family: 'Lato', sans-serif;
  max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  color: #203f19;
}

a {
  color: #315317;
}

::selection {
  background: #3f5c28;
  color: #fff;
}

p {
  text-align: justify;
}

.btn {
  background-color: #315317;
  border: none;
  border-radius: 0;
  margin: 1em 0 1em 0;
  color: #ffffff;
  outline: none;
  position: relative;
}
.btn:before,
.btn:after {
  border: 0 solid transparent;
  transition: all 0.25s;
  content: '';
  height: 24px;
  position: absolute;
  width: 24px;
}
.btn:before {
  border-top: 2px solid #315317;
  left: 0px;
  top: -5px;
}
.btn:after {
  border-bottom: 2px solid #315317;
  bottom: -5px;
  right: 0px;
}
.btn:hover {
  background-color: #315317;
}
.btn:hover:before,
.btn:hover:after {
  height: 100%;
  width: 100%;
}
